.simple-keyboard.hg-theme-default.myTheme {
    border: 5px rgba(220, 220, 220, 0.7);
    border-radius: 10px;
    margin: 10px;
    width: calc(100% - 20px);
}

.simple-keyboard.hg-layout-default .hg-button.hg-colored {
    /* background: rgba(220, 220, 220, 0.7); */
    color: rgb(0, 0, 0);
    height: 8vh;
}

.simple-keyboard.hg-layout-default{
    background-color: rgba(220, 220, 220, 0.7);
}