<!--{% if message %}

<p>{{ message }}</p>

{% endif %}
-->

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>In cart</th>
    </tr>
    {% for product in products %}
    <tr>
        <td><b>{{ product.name }}</b></td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
        <td>{% for k, v in cart.items %} {%if k == product.id %} {{v}} {%endif%} {%endfor%}</td>
        <td><a href="{% url 'knt:add_to_cart' product.id %}?next={{ request.path }}">Add to cart</a></td>
    </tr>

    {% endfor %}

</table>

<button><a href="{% url 'knt:reset_cart' %}?next={{ request.path }}">Reset Cart</a></button>
<button><a href="{% url 'knt:checkout' %}?next={{ request.path }}">Checkout</a></button>
<p>Total: {{ total }}</p>

<!--Form for auth, use AJAX to submit-->

{% if not request.user.is_authenticated %}
<div>
    <form action="">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        // import jquery
        $(document).ready(function () {
            $('form').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "{% url 'knt:login' %}?next={{ request.path }}",
                    data: {
                        username: $('input[name="username"]').val(),
                        password: $('input[name="password"]').val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function () {
                        location.reload();
                    }
                });
            });
        });
    </script>
</div>
{% else %}
<div>
    <p>Logged in as {{ request.user.first_name }} {{request.user.last_name }}</p>
    <p>Balance: {{ request.user.balance }}</p>
    <button><a href="{% url 'knt:logout' %}?next={{ request.path }}">Logout</a></button>
</div>
{% endif %}